.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, black, #6a6a6a);
    align-items: center;
    width: 100%;
}

.text-main{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h1{
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
    }


}

.input-form{
    display: flex;
    text-align: center;
    flex-direction: column;

    p{
        margin-top: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }

    input[type=text]{
        margin-bottom: 20px;
    }

    select{
        font-family: 'Oswald', sans-serif;
    }

    .submit-button{
        background-color: grey;
        border: 1px solid black;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        border-radius: 50%;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}
